/* .gradient-custom {
    background: #780aee;
    
    background: -webkit-linear-gradient(to right, rgb(114, 2, 235), rgb(203, 203, 203));
    
    background: linear-gradient(to right,rgb(114, 2, 235), rgb(203, 203, 203))
    } */